.schdule-days{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    border-bottom: 2px solid #f1f1f1;
}