<div class="container">
  <mat-toolbar>
    <span *ngIf="(meal$ | async) as meal; else loadingTitle">
      {{meal.name ? 'Edit': 'Create'}} meal
    </span>
    <ng-template #loadingTitle>
      Fetching Form ...
    </ng-template>
  </mat-toolbar>
  <div>
    <div *ngIf="(meal$ | async) as meal; else loadingForm">
      <app-meal-form class="container-form" [meal]="meal" (create)="addMeal($event)" (update)="updateMeal($event)">
      </app-meal-form>
    </div>
    <ng-template #loadingForm>
      Fetching data ...
    </ng-template>
  </div>
</div>
