<div class="container">
  <mat-toolbar>
    <span *ngIf="(meal$ | async) as meal; else createMeal">
      Edit meal
    </span>
    <ng-template #createMeal>
      Create meal
    </ng-template>
  </mat-toolbar>
  <div>
    <div *ngIf="(meal$ | async) as meal; else createMealForm">
      <app-meal-form class="container-form" [meal]="meal" (update)="updateMeal($event)">
      </app-meal-form>
    </div>
    <ng-template #createMealForm>
      <app-meal-form class="container-form" (create)="addMeal($event)">
      </app-meal-form>
    </ng-template>
  </div>

</div>
