.router-link-active{
    background-color: #f9e839;
    border-left: 2px solid;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 2px #e3e3e3;
}
.menu{
    position: absolute;
    right: 10px;
    top:20px;
    box-sizing: border-box;
}