.no-meals {
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.3em;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin: 10px auto;
  color: #6c6c6c;
  font-family: monospace;
  text-align: center;
}

.loading {
  box-sizing: border-box;
  padding: 10px;
  background-color: #dedede;
  font-family: monospace;
}
