<div>
  <button routerLink="/health/meals/new" matTooltip="Add meal." mat-icon-button mat>
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div *ngIf="meals$ | async as meals; else loading;">

  <div *ngIf="meals.length > 0">
    <app-meal-list [meals]="meals"></app-meal-list>
  </div>
  <div *ngIf="!meals.length" class="no-meals">
    <mat-icon>face</mat-icon> No meals, add new to start
  </div>
</div>
<div>
  <ng-template #loading>
    <div class="loading"> Fetching meals...
    </div>
  </ng-template>
</div>
