<div class="container">
  <div class="heading">
    <ng-content select="mat-toolbar"></ng-content>
  </div>
  <div class="content">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <mat-form-field class="form-field" floatLabel="true">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="text" placeholder="Your Email" #email>
          <mat-hint>Valid email required.</mat-hint>
          <mat-error *ngIf="form.get('email').hasError('email') && form.get('email').touched">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('required') && form.get('email').touched">
            Email address required!
          </mat-error>
          <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="email.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field class="form-field" floatLabel="true">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Your password"
            #password>
          <mat-hint>Valid password required.</mat-hint>
          <mat-error *ngIf="form.get('password').touched">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="form.get('password').hasError('required') && form.get('password').touched">
            Password required!
          </mat-error>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <ng-content select=".error">
        </ng-content>
      </div>
      <div class="actions">
        <ng-content select="button"></ng-content>
      </div>
    </form>
  </div>

  <div class="footer">
    <ng-content select="a"></ng-content>
  </div>
</div>
