<div>
  <button routerLink="/health/workouts/new" matTooltip="Add workout." mat-icon-button mat>
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div *ngIf="workouts$ | async  as workouts; else loading;">
  <div *ngIf="workouts.length > 0">
    <app-workout-list [workouts]="workouts" (remove)="removeItem($event)"></app-workout-list>
  </div>
  <div *ngIf="!workouts.length" class="no-workout">
    <mat-icon svgIcon="bench-press"></mat-icon> No workout, add new to start
  </div>
</div>
<div>
  <ng-template #loading>
    <div class="loading"> Fetching workouts...
    </div>
  </ng-template>
</div>
