/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Import css so we can use material design icons i.e(material-design-icons) in material.angular.io

@import '~material-design-icons/iconfont/material-icons.css';

.error{
    border: 1px dashed #FFC2C1;
    color: #cc4a4a;
    padding: 10px;
    box-sizing: border-box;
    font-family: monospace;
}